@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #343d4b;
}

.weather-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.search {
    text-align: center;
    margin-bottom: 20px;
}

.search input {
    padding: 10px;
    width: 60%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.current-weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #222831;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.temp-container {
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.details-container {
    text-align: center;
}

.current-weather img {
    display: block;
    margin: 0 auto 10px;
}



